* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

.dark-theme {
  background-color: #1e272e;
  color: #fff;
}

.flex-center, #home_header .sidenav, #home_header .header_bottom .header_search, #home_header .header_bottom .header_navbar ul, #home_header .header_bottom, #home_header .header_top .top_left, #home_header .header_top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.visible {
  visibility: hidden;
  opacity: 0;
}

.width-0 {
  width: 0;
}

#home_header {
  padding: 40px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#home_header .header_top {
  justify-content: space-between;
  margin-bottom: 40px;
}
#home_header .header_top .top_left i {
  display: none;
  color: white;
  font-size: 24px;
  margin-right: 2vw;
  cursor: pointer;
  transition: all 0.5s;
}
#home_header .header_top .top_left i:hover {
  color: #2ed573;
}
#home_header .header_top .top_left h1 {
  margin: 0;
}
#home_header .header_top .top_left h1 a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s;
}
#home_header .header_top .top_left h1 a:hover {
  color: #2ed573;
}
#home_header .header_top .header_icon i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgba(21, 53, 127, 0.8);
  color: white;
  font-size: 14px;
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}
#home_header .header_top .header_icon i:hover {
  background-color: #031862;
}
#home_header .header_top .header_icon i:hover:not(:nth-child(1)):after {
  background-color: #2ed573;
}
#home_header .header_top .header_icon i:not(:nth-child(1)):after {
  content: "10";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -20%);
  transition: all 0.5s;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background-color: #00dfa2;
  font-size: 10px;
  font-weight: 300;
  color: #222222;
}
#home_header .header_bottom {
  justify-content: space-between;
  background-color: #031862;
  border-radius: 30px;
  padding: 0 10px 0 30px;
}
#home_header .header_bottom .header_navbar {
  width: 75%;
}
#home_header .header_bottom .header_navbar ul {
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
#home_header .header_bottom .header_navbar ul li {
  margin: 0 2%;
  padding: 20px 0;
  text-align: center;
}
#home_header .header_bottom .header_navbar ul li a {
  font-size: 12px;
  font-weight: 400;
  color: white;
  transition: all 0.5s;
}
#home_header .header_bottom .header_navbar ul li a.active {
  color: #2ed573;
}
#home_header .header_bottom .header_navbar ul li:hover a {
  color: #2ed573;
}
#home_header .header_bottom .header_search {
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
  width: 25%;
}
#home_header .header_bottom .header_search i {
  font-size: 14px;
}
#home_header .header_bottom .header_search i:nth-child(3) {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
}
#home_header .header_bottom .header_search i:nth-child(3):hover {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #2ed573;
  cursor: pointer;
  color: white;
}
#home_header .header_bottom .header_search input {
  border: none;
  width: 60%;
  font-size: 14px;
}
#home_header .header_bottom .header_search input:focus {
  outline: none;
}
#home_header .bg-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
#home_header .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  padding: 80px 0 10px;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
}
#home_header .sidenav .sidenav_top {
  padding: 0 10px;
}
#home_header .sidenav .sidenav_top i {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_top i:hover {
  color: #2ed573;
}
#home_header .sidenav .sidenav_top nav ul {
  padding: 0;
}
#home_header .sidenav .sidenav_top nav ul li {
  margin: 20px 0;
}
#home_header .sidenav .sidenav_top nav ul li a {
  font-size: 12px;
  font-weight: 700;
  color: #222222;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_top nav ul li a.active {
  color: #2ed573;
}
#home_header .sidenav .sidenav_top nav ul li:hover a {
  color: #2ed573;
}
#home_header .sidenav .sidenav_bottom {
  padding: 0 10px;
}
#home_header .sidenav .sidenav_bottom .social_media a i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #1e272e;
  color: white;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_bottom .social_media a i:hover {
  color: #222222;
  background-color: #2ed573;
}
#home_header .sidenav .sidenav_bottom h6 {
  font-weight: 400;
  margin: 10px 0 0;
}

#home_carousel {
  background-image: url("../img/banner.png");
  background-size: cover;
  padding: 300px 0 50px;
  height: 100vh;
}
#home_carousel .carousel-inner .carousel-item .carousel_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title {
  width: 35%;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title h2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title p {
  font-size: 18px;
  font-weight: 300;
  color: white;
  line-height: 2;
  margin: 20px 0 40px;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title button {
  background-color: #00dfa2;
  border-radius: 40px;
  border: 1px solid #00dfa2;
  padding: 15px 40px;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title button:hover {
  color: white;
  background-color: black;
  border-color: black;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img {
  width: 50%;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img img#banner-big {
  width: 90%;
}

@media screen and (max-width: 991.98px) {
  #home_carousel {
    height: auto;
    padding: 250px 0 20px;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content {
    flex-direction: column;
    align-items: center;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title {
    width: 100%;
    text-align: center;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  #home_header .header_top .top_left i {
    display: block;
  }
  #home_header .header_bottom {
    padding: 10px;
    justify-content: center;
  }
  #home_header .header_bottom .header_navbar {
    display: none;
  }
  #home_header .header_bottom .header_search {
    width: 70%;
  }
  #home_header .header_bottom .header_search input {
    flex-grow: 1;
    margin: 0 5%;
  }
}
@media screen and (max-width: 575.98px) {
  #home_header .header_top {
    flex-direction: column;
  }
  #home_header .header_top .header_icon {
    margin-top: 20px;
  }
  #home_header .header_top .header_icon i {
    margin: 0;
  }
  #home_header .header_top .header_icon i:nth-child(2) {
    margin: 0 10px;
  }
  #home_carousel {
    height: auto;
    padding: 300px 0 20px;
  }
}/*# sourceMappingURL=style.css.map */