* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

.dark-theme {
  background-color: #1e272e;
  color: #fff;
}

.flex-center, #home_deals .deals_news .carousel-inner .carousel-item .item_content, #home_header .sidenav, #home_header .header_bottom .header_search, #home_header .header_bottom .header_navbar ul, #home_header .header_bottom, #home_header .header_top .top_left, #home_header .header_top, #register .register_form .form_check .agree_check, #register .register_form .form_check .receive_check {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.visible {
  visibility: hidden;
  opacity: 0;
}

.width-0 {
  width: 0;
}

#register {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding: 30px;
}
#register .register_form {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#register .register_form .form_title {
  margin-bottom: 30px;
}
#register .register_form .form_title h1 {
  font-size: 48px;
  font-weight: 700;
  color: #00dfa2;
}
#register .register_form .form_title h2 {
  font-size: 24px;
  font-weight: 500;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 30px 0 0;
}
#register .register_form .form_title p {
  font-size: 18px;
  font-weight: 400;
  color: #9b9b9b;
  font-family: "Jost", sans-serif;
  margin: 0;
}
#register .register_form .form_body {
  margin-bottom: 30px !important;
}
#register .register_form .form_body label {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Jost", sans-serif;
}
#register .register_form .form_body p {
  font-size: 16px;
  font-weight: 300;
  color: #ff2418;
  margin: 0;
}
#register .register_form .form_body h3 {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Jost", sans-serif;
  border-left: 2px solid #00dfa2;
  padding: 10px 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
}
#register .register_form .form_body input {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00dfa2;
  border-radius: 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Jost", sans-serif;
  transition: all 0.5s;
  padding-left: 0;
}
#register .register_form .form_body input:focus {
  box-shadow: none;
  border-bottom-color: #ff7675;
}
#register .register_form .form_body .form_gender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#register .register_form .form_body .form_gender input {
  margin: 0;
}
#register .register_form .form_body .form_gender input:nth-child(1) {
  margin-right: 10px;
}
#register .register_form .form_body .form_gender input:nth-child(3) {
  margin: 0 10px 0 30px;
}
#register .register_form .form_body .form_gender label {
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: "Jost", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
#register .register_form .form_body .form_gender label:hover {
  color: #00dfa2;
}
#register .register_form .form_check {
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Jost", sans-serif;
}
#register .register_form .form_check .receive_check input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
#register .register_form .form_check .agree_check {
  margin-top: 10px;
}
#register .register_form .form_check .agree_check input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
#register .register_form .form_check .agree_check span {
  font-size: 16px;
  font-weight: 500;
  color: #00dfa2;
  cursor: pointer;
  transition: all 0.5s;
}
#register .register_form .form_check .agree_check span:hover {
  color: #ff7675;
}
#register .register_form .form_check button {
  background-color: #00dfa2;
  border-radius: 5px;
  border: none;
  padding: 15px 40px;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 30px 0 15px;
}
#register .register_form .form_check button:hover {
  color: white;
  background-color: #ff7675;
  border-color: transparent;
}
#register .register_form .form_check button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#register .register_form .login_section {
  display: flex;
  align-items: center;
}
#register .register_form .login_section p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 0 10px 0 0;
}
#register .register_form .login_section span {
  font-size: 18px;
  font-weight: 500;
  color: #00dfa2;
  transition: all 0.5s;
  cursor: pointer;
}
#register .register_form .login_section span:hover {
  color: #ff7675;
}
#register .register_form .back_home {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}
#register .register_form .back_home i {
  transition: all 0.5s;
  color: white;
}
#register .register_form .back_home p {
  margin: 0 20px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: all 0.5s;
}
#register .register_form .back_home:hover {
  cursor: pointer;
}
#register .register_form .back_home:hover i {
  color: #2ed573;
}
#register .register_form .back_home:hover p {
  color: #2ed573;
}

@media screen and (max-width: 767.98px) {
  #register .register_form {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 575.98px) {
  #register .register_form .back_home {
    position: relative;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    margin-top: 50px;
  }
}
#home_header {
  padding: 40px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#home_header .header_top {
  justify-content: space-between;
  margin-bottom: 40px;
}
#home_header .header_top .top_left i {
  display: none;
  color: white;
  font-size: 24px;
  margin-right: 2vw;
  cursor: pointer;
  transition: all 0.5s;
}
#home_header .header_top .top_left i:hover {
  color: #2ed573;
}
#home_header .header_top .top_left h1 {
  margin: 0;
}
#home_header .header_top .top_left h1 a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s;
}
#home_header .header_top .top_left h1 a:hover {
  color: #2ed573;
}
#home_header .header_top .header_icon i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgba(21, 53, 127, 0.8);
  color: white;
  font-size: 14px;
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}
#home_header .header_top .header_icon i:hover {
  background-color: #031862;
}
#home_header .header_top .header_icon i:hover:not(:nth-child(1)):after {
  background-color: #2ed573;
}
#home_header .header_top .header_icon i:not(:nth-child(1)):after {
  content: "10";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -20%);
  transition: all 0.5s;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  background-color: #00dfa2;
  font-size: 10px;
  font-weight: 300;
  color: #222222;
}
#home_header .header_bottom {
  justify-content: space-between;
  background-color: #031862;
  border-radius: 30px;
  padding: 0 10px 0 30px;
}
#home_header .header_bottom .header_navbar {
  width: 75%;
}
#home_header .header_bottom .header_navbar ul {
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
#home_header .header_bottom .header_navbar ul li {
  margin: 0 2%;
  padding: 20px 0;
  text-align: center;
}
#home_header .header_bottom .header_navbar ul li a {
  font-size: 12px;
  font-weight: 400;
  color: white;
  transition: all 0.5s;
}
#home_header .header_bottom .header_navbar ul li a.active {
  color: #2ed573;
}
#home_header .header_bottom .header_navbar ul li:hover a {
  color: #2ed573;
}
#home_header .header_bottom .header_search {
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
  width: 25%;
}
#home_header .header_bottom .header_search i {
  font-size: 14px;
}
#home_header .header_bottom .header_search i:nth-child(3) {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
}
#home_header .header_bottom .header_search i:nth-child(3):hover {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #2ed573;
  cursor: pointer;
  color: white;
}
#home_header .header_bottom .header_search input {
  border: none;
  width: 60%;
  font-size: 14px;
}
#home_header .header_bottom .header_search input:focus {
  outline: none;
}
#home_header .bg-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 90;
}
#home_header .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  padding: 80px 0 10px;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;
}
#home_header .sidenav .sidenav_top {
  padding: 0 10px;
}
#home_header .sidenav .sidenav_top i {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_top i:hover {
  color: #2ed573;
}
#home_header .sidenav .sidenav_top nav ul {
  padding: 0;
}
#home_header .sidenav .sidenav_top nav ul li {
  margin: 20px 0;
}
#home_header .sidenav .sidenav_top nav ul li a {
  font-size: 12px;
  font-weight: 700;
  color: #222222;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_top nav ul li a.active {
  color: #2ed573;
}
#home_header .sidenav .sidenav_top nav ul li:hover a {
  color: #2ed573;
}
#home_header .sidenav .sidenav_bottom {
  padding: 0 10px;
}
#home_header .sidenav .sidenav_bottom .social_media a i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #1e272e;
  color: white;
  transition: all 0.5s;
}
#home_header .sidenav .sidenav_bottom .social_media a i:hover {
  color: #222222;
  background-color: #2ed573;
}
#home_header .sidenav .sidenav_bottom h6 {
  font-weight: 400;
  margin: 10px 0 0;
}

#home_carousel {
  background-image: url("../img/banner.png");
  background-size: cover;
  padding: 300px 0 50px;
  min-height: 100vh;
}
#home_carousel .carousel-inner .carousel-item .carousel_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title {
  width: 35%;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title h2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title p {
  font-size: 18px;
  font-weight: 300;
  color: white;
  line-height: 2;
  margin: 20px 0 40px;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title button {
  background-color: #00dfa2;
  border-radius: 40px;
  border: 1px solid #00dfa2;
  padding: 15px 40px;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title button:hover {
  color: white;
  background-color: black;
  border-color: black;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img {
  width: 50%;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: lightSpin 5s infinite;
}
#home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img img#banner-big {
  width: 90%;
}

#home_deals .deals_news {
  background-color: black;
  padding: 50px 0 200px;
}
#home_deals .deals_news .carousel-inner .carousel-item .item_content {
  justify-content: center;
  padding: 0 20px;
}
#home_deals .deals_news .carousel-inner .carousel-item .item_content span {
  font-size: 18px;
  font-weight: 700;
  color: #ff2418;
}
#home_deals .deals_news .carousel-inner .carousel-item .item_content p {
  margin: 0 50px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
#home_deals .deals_news .carousel-inner .carousel-item .item_content button {
  background-color: white;
  border-radius: 30px;
  border: 1px solid white;
  padding: 5px 20px;
  transition: all 0.5s;
  font-size: 14px;
}
#home_deals .deals_news .carousel-inner .carousel-item .item_content button:hover {
  color: black;
  background-color: #2ed573;
  border-color: #2ed573;
}
#home_deals .deals_news button i {
  font-size: 18px;
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
#home_deals .deals_news button i:hover {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
#home_deals .deals_items {
  position: relative;
  top: -150px;
}
#home_deals .deals_items .items .item_container {
  position: relative;
  height: 100%;
}
#home_deals .deals_items .items .item_container .color_background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  background-color: #c1f5ee;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#home_deals .deals_items .items .item_container .white_background {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: white;
  width: 93%;
  height: 93%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
#home_deals .deals_items .items .item_container .white_background .white_text {
  position: absolute;
  bottom: 20px;
  right: 10px;
  writing-mode: tb-rl;
  transform: rotate(180deg) translateY(-75px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
#home_deals .deals_items .items .item_container .white_background .white_text h4 {
  margin: 20px 0 0 0;
  font-size: 1.8vw;
  font-weight: 500;
  color: #d7d7d7;
}
#home_deals .deals_items .items .item_container .white_background .white_text i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  transform: rotate(-180deg);
  transition: all 1s;
  font-size: 14px;
  cursor: pointer;
}
#home_deals .deals_items .items .item_container .white_background .white_text i:hover {
  color: black;
  background-color: #2ed573;
}
#home_deals .deals_items .items .item_container img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 4vw;
  left: 50%;
  transform: translateX(-50%);
}
#home_deals .deals_items .items .item_container:hover .white_background .white_text {
  transform: rotate(180deg) translateY(0);
}
#home_deals .deals_items .items .item_container:hover .white_background .white_text h4 {
  color: #9b9b9b;
}
#home_deals .deals_items .items .item_container:hover .white_background .white_text i {
  transform: rotate(0);
}
#home_deals .deals_items .items:nth-child(2) .item_container .color_background {
  background-color: #c8eaf6;
}
#home_deals .deals_items .items:nth-child(3) .item_container .color_background {
  background-color: #f8b7bf;
}

.home_sales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
.home_sales .sales_title {
  width: 15%;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 10px;
}
.home_sales .sales_title h4 {
  font-size: 24px;
  font-weight: 700;
  color: #d7d7d7;
}
.home_sales .sales_title h3 {
  font-size: 48px;
  font-weight: 700;
  color: #d7d7d7;
}
.home_sales .sales_content {
  width: 85%;
}
.home_sales .sales_content h4 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 40px;
}

.sales_container {
  padding-right: 20px;
  text-align: center;
}
.sales_container .sales_img {
  background-color: #f5f5f5;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0 20px;
}
.sales_container .sales_img img {
  width: 100%;
  aspect-ratio: 1/1.1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s;
}
.sales_container .sales_img .img_percent {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #bbffbb;
  border-radius: 20px;
  padding: 5px 14px;
}
.sales_container .sales_img .img_percent i {
  font-size: 11px;
  color: #222222;
}
.sales_container .sales_img .img_percent span {
  font-size: 11px;
  font-weight: 600;
  color: #222222;
}
.sales_container .sales_img .img_interact {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sales_container .sales_img .img_interact i {
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  background-color: white;
  font-size: 14px;
  color: #727272;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  display: block;
  transform: translateX(65px);
}
.sales_container .sales_img .img_interact i:nth-child(1):hover {
  background-color: #ff0060;
}
.sales_container .sales_img .img_interact i:nth-child(2) {
  transition: transform 0.7s;
}
.sales_container .sales_img .img_interact i:hover {
  background-color: black;
  color: white;
}
.sales_container .sales_img .img_add {
  background-color: #e7e8eb;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  border-radius: 50px;
  padding: 0 20px;
  transition: all 0.5s;
  transform: translateY(70px);
}
.sales_container .sales_img .img_add h5 {
  font-size: 10px;
  font-weight: 700;
  color: #222222;
  margin: 0;
  line-height: 46px;
}
.sales_container .sales_img .img_add:hover {
  background-color: black;
}
.sales_container .sales_img .img_add:hover h5 {
  color: white;
}
.sales_container .sales_info {
  margin-top: 30px;
}
.sales_container .sales_info h4 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  transition: all 0.5s;
  margin: 0;
}
.sales_container .sales_info h4:hover {
  color: #2ed573;
}
.sales_container .sales_info .info_stars {
  font-size: 13px;
  margin: 10px 0;
}
.sales_container .sales_info .info_prices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales_container .sales_info .info_prices h5 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
}
.sales_container .sales_info .info_prices h5:nth-child(2) {
  margin-left: 20px;
  -webkit-text-decoration: line-through #222222;
          text-decoration: line-through #222222;
  color: #9b9b9b;
}
.sales_container:hover img {
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
}
.sales_container:hover .img_interact i {
  transform: translateX(0);
}
.sales_container:hover .img_add {
  transform: translateY(0);
}

#home_trending h4 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  line-height: 51px;
  padding-top: 48px;
}
#home_trending .trending_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home_trending .trending_grid .grid_item {
  position: relative;
  overflow: hidden;
}
#home_trending .trending_grid .grid_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home_trending .trending_grid .grid_item .shoe_overlay {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#home_trending .trending_grid .grid_item .shoe_overlay button {
  background-color: white;
  border-radius: 50px;
  border: none;
  padding: 1vw 2vw;
  transition: all 0.5s;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
#home_trending .trending_grid .grid_item .shoe_overlay button:hover {
  color: black;
  background-color: #2ed573;
  border-color: transparent;
}
#home_trending .trending_grid .grid_item:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
#home_trending .trending_grid .grid_item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
#home_trending .trending_grid .grid_item:nth-child(5) {
  grid-row: 3/span 2;
}
#home_trending .trending_grid .grid_item:nth-child(6) {
  grid-column: 1/span 2;
  grid-row: 5/span 1;
}
#home_trending .trending_grid .grid_item:nth-child(9) {
  grid-column: span 2;
  grid-row: span 2;
}
#home_trending .trending_grid .grid_item:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.15);
  transform: skewX(-20deg);
  transition: all 0.5s;
}
#home_trending .trending_grid .grid_item:hover:after {
  left: 150%;
}
#home_trending .trending_grid .grid_item-shoe {
  position: relative;
  border: 1px solid #e7e8eb;
}
#home_trending .trending_grid .grid_item-shoe img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay {
  position: absolute;
  top: 2vw;
  left: 2vw;
  bottom: 2vw;
  right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  color: #222222;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price h5 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price i {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price i:hover {
  background-color: #2ed573;
  color: black;
}
#home_trending .trending_grid .grid_item-shoe:nth-child(4) {
  grid-row: 4/span 1;
}
#home_trending .trending_grid .grid_item-shoe:hover img {
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
}

#home_product {
  padding: 80px 0;
}
#home_product h2 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  line-height: 51px;
  margin-bottom: 50px;
}
#home_product .product_content ul {
  justify-content: center;
  margin-bottom: 30px;
}
#home_product .product_content ul li button {
  font-size: 1.5vw;
  font-weight: 400;
  color: #9b9b9b;
  line-height: 20px;
  margin: 0 0.5vw;
  border: none;
  padding: 1vw 2vw;
}
#home_product .product_content ul li button.active {
  background-color: #2ed573;
  color: white;
}
#home_product .product_content ul li button.active:hover {
  color: white;
}
#home_product .product_content ul li button:hover {
  color: #222222;
}
#home_product .product_content #myTabContent .product_item .sales_container {
  padding: 0;
}

#home_customer {
  padding: 100px 0;
  background-image: url("../img/customer_banner.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#home_customer h2 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  line-height: 51px;
}
#home_customer h3 {
  font-size: 14px;
  font-weight: 300;
  color: #9b9b9b;
  line-height: 18.7px;
  margin: 10px 0 50px;
}
#home_customer #customer-carousel {
  font-family: "Jost", sans-serif;
}
#home_customer #customer-carousel .customer_item {
  padding: 0 20px;
}
#home_customer #customer-carousel .customer_item .customer_rate i {
  color: #27895c;
  font-size: 18px;
}
#home_customer #customer-carousel .customer_item h4 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  margin: 30px 0 22px;
}
#home_customer #customer-carousel .customer_item p {
  font-size: 18px;
  font-weight: 400;
  color: #505157;
  line-height: 30.6px;
}
#home_customer #customer-carousel .customer_item img {
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  background-color: #f5f5f5;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
#home_customer #customer-carousel .owl-dots {
  text-align: center;
  margin-top: 50px;
}
#home_customer #customer-carousel .owl-dots button {
  margin: 0 5px;
  border: 10px solid transparent;
  transition: all 0.5s;
}
#home_customer #customer-carousel .owl-dots button span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #9b9b9b;
  transition: all 0.5s;
}
#home_customer #customer-carousel .owl-dots button span:hover {
  transform: scale(1.2);
}
#home_customer #customer-carousel .owl-dots button.active {
  border: 10px solid rgba(98, 255, 0, 0.2);
  border-radius: 50%;
}
#home_customer #customer-carousel .owl-dots button.active span {
  background-color: #53dd00;
}
#home_customer #customer-carousel .owl-dots button.active span:hover {
  transform: scale(1);
}

#home_services {
  padding: 100px 0;
}
#home_services h2 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  line-height: 51px;
}
#home_services .service_item img {
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home_services .service_item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin: 30px 0 10px;
}
#home_services .service_item p {
  font-size: 16px;
  font-weight: 400;
  color: #505157;
  margin: 0;
  padding: 0 10px;
  font-family: "Jost", sans-serif;
}
#home_services .service_item:hover img {
  animation: leftRight 1s;
}

#home_footer {
  background-color: black;
  padding: 100px 0 40px;
}
#home_footer .footer_top {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 70px;
}
#home_footer .footer_top h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
#home_footer .footer_top ul li {
  margin: 0 0 16px;
}
#home_footer .footer_top ul li a {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Jost", sans-serif;
  transition: all 0.5s;
}
#home_footer .footer_top ul li a:hover {
  color: #2ed573;
}
#home_footer .footer_top p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Jost", sans-serif;
  margin-bottom: 35px;
}
#home_footer .footer_top form {
  background-color: white;
  padding: 5px 10px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home_footer .footer_top form input {
  width: 85%;
  padding: 5px 0 5px 20px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #222222;
  border: none;
}
#home_footer .footer_top form input:focus {
  outline: none;
}
#home_footer .footer_top form i {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 18px;
}
#home_footer .footer_top form i:hover {
  background-color: #2ed573;
  color: white;
}
#home_footer .footer_top .footer_media {
  margin: 35px;
}
#home_footer .footer_top .footer_media a {
  margin: 0 10px;
}
#home_footer .footer_top .footer_media a i {
  font-size: 14px;
  color: white;
  transition: all 0.5s;
}
#home_footer .footer_top .footer_media a i:hover {
  color: #2ed573;
}
#home_footer .footer_bottom {
  padding-top: 40px;
}
#home_footer .footer_bottom .col-lg-3 a span {
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: "Jost", sans-serif;
  transition: all 0.5s;
}
#home_footer .footer_bottom .col-lg-3 a span:hover {
  color: #2ed573;
}
#home_footer .footer_bottom .col-lg-3 a:nth-of-type(2) {
  margin-left: 20px;
}
#home_footer .footer_bottom .col-lg-3 p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 0;
}
#home_footer .footer_bottom .col-lg-6 img {
  max-width: 40px;
  border-radius: 5px;
  margin: 5px;
}

#top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 100;
}
#top i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #00dfa2;
  font-size: 18px;
  transition: all 0.5s;
}
#top:hover {
  border-color: #00dfa2;
}
#top:hover i {
  background-color: #2ed573;
  color: white;
}

@media screen and (max-width: 1199.98px) {
  #home_deals .deals_items .items:nth-child(3) {
    margin-top: 10vw;
  }
  #home_footer .footer_bottom .col-lg-3 a span {
    font-size: 1.1vw;
  }
}
@media screen and (max-width: 991.98px) {
  #home_carousel {
    height: auto;
    padding: 250px 0 20px;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content {
    flex-direction: column;
    align-items: center;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content .carousel_title {
    width: 100%;
    text-align: center;
  }
  #home_carousel .carousel-inner .carousel-item .carousel_content .carousel_img {
    width: 100%;
    margin-top: 50px;
  }
  #home_deals .deals_news .carousel-inner .carousel-item .item_content {
    flex-direction: column;
  }
  #home_deals .deals_news .carousel-inner .carousel-item .item_content p {
    margin: 10px 50px 20px;
  }
  #home_deals .deals_items .items .item_container .white_background .white_text h4 {
    font-size: 3.8vw;
  }
  #home_deals .deals_items .items:nth-child(2) {
    margin-top: 10vw;
  }
  #home_deals .deals_items .items:nth-child(3) {
    margin-top: 10vw;
  }
  #home_product .product_content ul li button {
    font-size: 2.5vw;
  }
  #home_footer .footer_bottom .col-lg-3 a span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767.98px) {
  #home_header .header_top .top_left i {
    display: block;
  }
  #home_header .header_bottom {
    padding: 10px;
    justify-content: center;
  }
  #home_header .header_bottom .header_navbar {
    display: none;
  }
  #home_header .header_bottom .header_search {
    width: 70%;
  }
  #home_header .header_bottom .header_search input {
    flex-grow: 1;
    margin: 0 5%;
  }
  #home_trending .trending_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #home_trending .trending_grid .grid_item-shoe:nth-child(3) {
    grid-row: 3/span 1;
  }
}
@media screen and (max-width: 575.98px) {
  #home_header .header_top {
    flex-direction: column;
  }
  #home_header .header_top .header_icon {
    margin-top: 20px;
  }
  #home_header .header_top .header_icon i {
    margin: 0;
  }
  #home_header .header_top .header_icon i:nth-child(2) {
    margin: 0 10px;
  }
  #home_carousel {
    height: auto;
    padding: 300px 0 20px;
  }
  #home_deals .deals_items .items .item_container .white_background .white_text {
    transform: rotate(180deg) translateY(-50px);
  }
  #home_deals .deals_items .items .item_container .white_background .white_text h4 {
    font-size: 3vw;
  }
  #home_deals .deals_items .items .item_container .white_background .white_text i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: black;
  }
  #home_product .product_content ul li button {
    font-size: 4vw;
  }
}
@keyframes lightSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(-4px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */