// ! import
@import "./helpers/variables";
@import "./helpers/global";
@import "./helpers/animations";
@import "./helpers/mixins";
@import "./themes/dark";
@import "./pages/detail";
@import "./pages/register";

// ! home - header / navbar
#home_header {
  padding: $section-padding;
  position: absolute;
  top: 0;
  width: 100%;
  .header_top {
    @extend .flex-center;
    justify-content: space-between;
    margin-bottom: 40px;
    .top_left {
      @extend .flex-center;
      i {
        display: none;
        color: white;
        font-size: $fs-24;
        margin-right: 2vw;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: $primary-hover;
        }
      }
      h1 {
        margin: 0;
        a {
          color: white;
          text-transform: uppercase;
          font-weight: $fw-bold;
          transition: all 0.5s;
          &:hover {
            color: $primary-hover;
          }
        }
      }
    }
    .header_icon {
      i {
        @include iconStyle(50px, 50px, $header-icon-bg);
        color: white;
        font-size: $fs-14;
        margin-left: 10px;
        transition: all 0.5s;
        cursor: pointer;
        position: relative;
        &:hover {
          background-color: $header-bg-color;
          &:not(:nth-child(1)):after {
            background-color: $primary-hover;
          }
        }
        &:not(:nth-child(1)):after {
          content: "10";
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(20%, -20%);
          transition: all 0.5s;
          @include iconStyle($fs-24, $fs-24, $primary-color);
          @include testStyle($fs-10, $fw-light, $text-primary);
        }
      }
    }
  }
  .header_bottom {
    @extend .flex-center;
    justify-content: space-between;
    background-color: $header-bg-color;
    border-radius: 30px;
    padding: 0 10px 0 30px;
    .header_navbar {
      width: 75%;
      ul {
        @extend .flex-center;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        li {
          margin: 0 2%;
          padding: 20px 0;
          text-align: center;
          a {
            @include testStyle($fs-12, $fw-regular, white);
            transition: all 0.5s;
            &.active {
              color: $primary-hover;
            }
          }
          &:hover {
            a {
              color: $primary-hover;
            }
          }
        }
      }
    }
    .header_search {
      @extend .flex-center;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: white;
      padding: 5px 5px 5px 20px;
      border-radius: 30px;
      width: 25%;
      i {
        font-size: 14px;
        &:nth-child(3) {
          transition: all 0.5s;
          @include iconStyle($fs-30, $fs-30, white);
          &:hover {
            @include iconStyle($fs-30, $fs-30, $primary-hover);
            cursor: pointer;
            color: white;
          }
        }
      }
      input {
        border: none;
        width: 60%;
        font-size: 14px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .bg-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 90;
  }
  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    padding: 80px 0 10px;
    z-index: 100;
    @extend .flex-center;
    flex-direction: column;
    justify-content: space-between;
    .sidenav_top {
      padding: 0 10px;
      i {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: $fs-24;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: $primary-hover;
        }
      }
      nav {
        ul {
          padding: 0;
          li {
            margin: 20px 0;
            a {
              @include testStyle($fs-12, $fw-bold, $text-primary);
              transition: all 0.5s;
              &.active {
                color: $primary-hover;
              }
            }
            &:hover {
              a {
                color: $primary-hover;
              }
            }
          }
        }
      }
    }
    .sidenav_bottom {
      padding: 0 10px;
      .social_media {
        a {
          i {
            @include iconStyle(30px, 30px, $bg-dark-theme);
            color: white;
            transition: all 0.5s;
            &:hover {
              color: $text-primary;
              background-color: $primary-hover;
            }
          }
        }
      }
      h6 {
        font-weight: $fw-regular;
        margin: 10px 0 0;
      }
    }
  }
}

// ! home - carousel
#home_carousel {
  background-image: url("../img/banner.png");
  background-size: cover;
  padding: 300px 0 50px;
  min-height: 100vh;
  .carousel-inner {
    .carousel-item {
      .carousel_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .carousel_title {
          width: 35%;
          h2 {
            @include testStyle($fs-30, $fw-bold, white);
          }
          h1 {
            @include testStyle($fs-72, $fw-bold, white);
          }
          p {
            @include testStyle($fs-18, $fw-light, white);
            line-height: 2;
            margin: 20px 0 40px;
          }
          button {
            @include buttonStyle(
              $primary-color,
              40px,
              1px solid $primary-color,
              15px 40px,
              white,
              black,
              black
            );
            @include testStyle($fs-18, $fw-semibold, black);
            box-shadow: $bs-medium;
          }
        }
        .carousel_img {
          width: 50%;
          img {
            width: 100%;
            object-fit: cover;
            animation: lightSpin 5s infinite;
            &#banner-big {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

// ! home - deals
#home_deals {
  .deals_news {
    background-color: black;
    padding: 50px 0 200px;
    .carousel-inner {
      .carousel-item {
        .item_content {
          @extend .flex-center;
          justify-content: center;
          padding: 0 20px;
          span {
            @include testStyle($fs-18, $fw-bold, $text-danger);
          }
          p {
            margin: 0 50px;
            @include testStyle($fs-14, $fw-light, white);
          }
          button {
            @include buttonStyle(
              white,
              30px,
              1px solid white,
              5px 20px,
              black,
              $primary-hover,
              $primary-hover
            );
            font-size: $fs-14;
          }
        }
      }
    }
    button {
      i {
        font-size: $fs-18;
        transition: all 0.5s;
        @include iconStyle(50px, 50px, transparent);
        &:hover {
          @include iconStyle(50px, 50px, white);
          color: black;
        }
      }
    }
  }
  .deals_items {
    position: relative;
    top: -150px;
    .items {
      .item_container {
        position: relative;
        height: 100%;
        .color_background {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 90%;
          height: 90%;
          background-color: #c1f5ee;
          border-radius: 10px;
          box-shadow: $bs-small;
        }
        .white_background {
          position: absolute;
          top: 0;
          left: 10px;
          background-color: white;
          width: 93%;
          height: 93%;
          border-radius: 10px;
          box-shadow: $bs-medium;
          overflow: hidden;
          .white_text {
            position: absolute;
            bottom: 20px;
            right: 10px;
            writing-mode: tb-rl;
            transform: rotate(180deg) translateY(-75px);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s;
            h4 {
              margin: 20px 0 0 0;
              @include testStyle(1.8vw, $fw-medium, $text-fade);
            }
            i {
              @include iconStyle(50px, 50px, black);
              color: white;
              transform: rotate(-180deg);
              transition: all 1s;
              font-size: $fs-14;
              cursor: pointer;
              &:hover {
                color: black;
                background-color: $primary-hover;
              }
            }
          }
        }
        img {
          width: 60%;
          object-fit: cover;
          position: relative;
          top: 4vw;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover {
          .white_background {
            .white_text {
              transform: rotate(180deg) translateY(0);
              h4 {
                color: $text-fade-hover;
              }
              i {
                transform: rotate(0);
              }
            }
          }
        }
      }
      &:nth-child(2) {
        .item_container {
          .color_background {
            background-color: #c8eaf6;
          }
        }
      }
      &:nth-child(3) {
        .item_container {
          .color_background {
            background-color: #f8b7bf;
          }
        }
      }
    }
  }
}

// ! home - flash sales
.home_sales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  .sales_title {
    width: 20%;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    padding-right: 14%;
    padding-bottom: 7%;
    h4 {
      @include testStyle($fs-24, $fw-bold, $text-fade);
    }
    h3 {
      @include testStyle($fs-48, $fw-bold, $text-fade);
    }
  }
  .sales_content {
    width: 80%;
    h4 {
      @include testStyle($fs-30, $fw-bold, $text-primary);
      margin-bottom: 40px;
    }
    #flash_shoes {
      .sales_container {
        padding-right: 20px;
        text-align: center;
        .sales_img {
          background-color: #f5f5f5;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          padding: 0 20px;
          img {
            width: 100%;
            aspect-ratio: 1 / 1.1;
            object-fit: cover;
            transition: all 0.5s;
          }
          .img_percent {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #bbffbb;
            border-radius: 20px;
            padding: 5px 14px;
            i {
              font-size: $fs-11;
              color: $text-primary;
            }
            span {
              @include testStyle($fs-11, $fw-semibold, $text-primary);
            }
          }
          .img_interact {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i {
              @include iconStyle(42px, 42px, white);
              font-size: $fs-14;
              color: #727272;
              margin-bottom: 10px;
              box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
              transition: all 0.5s;
              display: block;
              transform: translateX(65px);
              &:nth-child(2) {
                transition: transform 0.7s;
              }
              &:hover {
                background-color: black;
                color: white;
              }
            }
          }
          .img_add {
            background-color: #e7e8eb;
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
            border-radius: 50px;
            padding: 0 20px;
            transition: all 0.5s;
            transform: translateY(70px);
            h5 {
              @include testStyle($fs-10, $fw-bold, $text-primary);
              margin: 0;
              line-height: 46px;
            }
            &:hover {
              background-color: black;
              h5 {
                color: white;
              }
            }
          }
          &:hover {
            img {
              filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
            }
            .img_interact {
              i {
                transform: translateX(0);
              }
            }
            .img_add {
              transform: translateY(0);
            }
          }
        }
        .sales_info {
        }
      }
    }
  }
}

// ! responsive
@media screen and (max-width: 1199.98px) {
  // todo: home_deals
  #home_deals {
    .deals_items {
      .items:nth-child(3) {
        margin-top: 10vw;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  // todo: home_carousel
  #home_carousel {
    height: auto;
    padding: 250px 0 20px;
    .carousel-inner {
      .carousel-item {
        .carousel_content {
          flex-direction: column;
          align-items: center;
          .carousel_title {
            width: 100%;
            text-align: center;
          }
          .carousel_img {
            width: 100%;
            margin-top: 50px;
          }
        }
      }
    }
  }

  // todo: home_deals
  #home_deals {
    .deals_news {
      .carousel-inner {
        .carousel-item {
          .item_content {
            flex-direction: column;
            p {
              margin: 10px 50px 20px;
            }
          }
        }
      }
    }
    .deals_items {
      .items {
        .item_container {
          .white_background {
            .white_text {
              h4 {
                font-size: 3.8vw;
              }
            }
          }
        }
      }
      .items:nth-child(2) {
        margin-top: 10vw;
      }
      .items:nth-child(3) {
        margin-top: 10vw;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  // todo: home_header
  #home_header {
    .header_top {
      .top_left {
        i {
          display: block;
        }
      }
    }
    .header_bottom {
      padding: 10px;
      justify-content: center;
      .header_navbar {
        display: none;
      }
      .header_search {
        width: 70%;
        input {
          flex-grow: 1;
          margin: 0 5%;
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  // todo: home_header
  #home_header {
    .header_top {
      flex-direction: column;
      .header_icon {
        margin-top: 20px;
        i {
          margin: 0;
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
    }
  }

  // todo: home_carousel
  #home_carousel {
    height: auto;
    padding: 300px 0 20px;
  }

  // todo: home_deals
  #home_deals {
    .deals_items {
      .items {
        .item_container {
          .white_background {
            .white_text {
              transform: rotate(180deg) translateY(-50px);
              h4 {
                font-size: 3vw;
              }
              i {
                @include iconStyle(30px, 30px, black);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes lightSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
