// ! global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: $fs-12;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-primary;
}

// ! Classes - Extend
.dark-theme {
  background-color: $bg-dark-theme;
  color: #fff;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.width-0 {
  width: 0;
}
