// ! global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-primary;
}

// ! Classes - Extend
.dark-theme {
  background-color: $bg-dark-theme;
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
