// ! Color
$primary-color: #00dfa2;
$primary-hover: #2ed573;
$navbar-bg-color: #041963;
$header-icon-bg: rgba(21, 53, 127, 0.8);
$header-bg-color: #031862;
$text-primary: #222222;
$text-danger: #ff2418;
$text-fade: #d7d7d7;
$bg-dark-theme: #1e272e;
$bg-fade: #e9ebeb;
$bg-dark-fade: #dedede;
$text-fade-hover: #9b9b9b;
$star-bg: #f6fa70;
$heart-bg: #ff0060;

// ! Font-size
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-18: 18px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-48: 48px;
$fs-72: 72px;

// ! Font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// ! Box-shadow
$bs-small: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$bs-medium: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$bs-large: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

// ! Padding
$section-padding: 40px 0;