#register {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding: 30px;
  .register_form {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .form_title {
      margin-bottom: 30px;
      h1 {
        @include testStyle($fs-48, $fw-bold, $primary-color);
      }
      h2 {
        @include testStyle($fs-24, $fw-medium, white);
        font-family: "Jost", sans-serif;
        margin: 30px 0 0;
      }
      p {
        @include testStyle($fs-18, $fw-regular, $text-fade-hover);
        font-family: "Jost", sans-serif;
        margin: 0;
      }
    }
    .form_body {
      margin-bottom: 30px !important;
      label {
        @include testStyle($fs-14, $fw-medium, white);
        font-family: "Jost", sans-serif;
      }

      p {
        @include testStyle($fs-16, $fw-light, $text-danger);
        margin: 0;
      }

      h3 {
        @include testStyle($fs-14, $fw-medium, white);
        font-family: "Jost", sans-serif;
        border-left: 2px solid $primary-color;
        padding: 10px 0 10px 10px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 0;
      }

      input {
        margin-bottom: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $primary-color;
        border-radius: 0;
        @include testStyle($fs-18, $fw-regular, white);
        font-family: "Jost", sans-serif;
        transition: all 0.5s;
        padding-left: 0;
        &:focus {
          box-shadow: none;
          border-bottom-color: #ff7675;
        }
      }
      .form_gender {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          margin: 0;
          &:nth-child(1) {
            margin-right: 10px;
          }
          &:nth-child(3) {
            margin: 0 10px 0 30px;
          }
        }
        label {
          @include testStyle($fs-16, $fw-medium, white);
          font-family: "Jost", sans-serif;
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .form_check {
      @include testStyle($fs-14, $fw-medium, white);
      font-family: "Jost", sans-serif;
      .receive_check {
        @extend .flex-center;
        input {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
      }
      .agree_check {
        margin-top: 10px;
        @extend .flex-center;
        input {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
        span {
          @include testStyle($fs-16, $fw-medium, $primary-color);
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            color: #ff7675;
          }
        }
      }
      button {
        @include buttonStyle(
          $primary-color,
          5px,
          none,
          15px 40px,
          white,
          #ff7675,
          transparent
        );
        @include testStyle($fs-18, $fw-regular, white);
        margin: 30px 0 15px;
        &:hover {
          box-shadow: $bs-medium;
        }
      }
    }
    .login_section {
      display: flex;
      align-items: center;
      p {
        @include testStyle($fs-16, $fw-regular, white);
        margin: 0 10px 0 0;
      }
      span {
        @include testStyle($fs-18, $fw-medium, $primary-color);
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          color: #ff7675;
        }
      }
    }
    .back_home {
      display: flex;
      align-items: center;
      position: absolute;
      right: 2vw;
      bottom: 2vw;
      i {
        transition: all 0.5s;
        color: white;
      }
      p {
        margin: 0 20px 0 0;
        @include testStyle($fs-18, $fw-regular, white);
        transition: all 0.5s;
      }
      &:hover {
        cursor: pointer;
        i {
          color: $primary-hover;
        }
        p {
          color: $primary-hover;
        }
      }
    }
  }
}

#registerModal {
  .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    p {
      margin: 0;
      @include testStyle($fs-24, $fw-regular, $text-primary);
    }
    i{
      font-size: 24px;
    }
    .loadingBar {
      width: 0;
      height: 5px;
      background-color: $primary-hover;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 5px 5px;
      animation: modalBorder 2s forwards;
    }
  }
} 

// ! responsive
@media screen and (max-width: 767.98px) {
  #register {
    .register_form {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 575.98px) {
  #register {
    .register_form {
      .back_home {
        position: relative;
        right: 0;
        bottom: 0;
        justify-content: flex-end;
        margin-top: 50px;
      }
    }
  }
}

// ! keyframes
@keyframes modalBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}